# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Backend Python virtual environment
backend/venv/

# API keys and environment config
.env
backend/.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data files (raw or processed)
goemotions_data/*.csv

# Frontend Node.js dependencies
frontend/node_modules/

# Ignore all files in final_model folder
backend/model/final_model/